extends layout.pug

block content
  div(class="auth-page")
    div(class="auth-box")
      h1(class="title") Reset password
      p(class="lead")
        | To reset your password please fill your email below. A reset link will be send on your mail.
      include contents/errorBox.pug
      form(class="reset-password-form login-form", method="post")
        input(class="form-control", name="email", type="email", placeholder="Your email")
        input(class="submit btn btn-lg btn-primary btn-block" type="submit", value="Send reset link")
      a(href=settings.adminUrl + "/login") Back to login page