extends layout.pug

block content
  div(class="auth-page")
    div(class="auth-box")
      h1(class="title") Reset password
      p(class="lead")
        | Choose a new password.
      include contents/errorBox.pug
      form(class="reset-password-form login-form", method="post")
        input(class="form-control", name="password", type="password", placeholder="password")
        input(class="form-control", name="passwordCheck", type="password", placeholder="repeat password")
        input(class="submit btn btn-lg btn-primary btn-block", type="submit", value="Reset password")